@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
}

body {
  max-width: 1920px;
  margin: 0 auto;
  background-color: black;
  color: white;
}

.home-bg-size {
  background-size: 100% 815px;

  /* Media query for screens with a maximum width of 1280px */
  @media (max-width: 1279px) {
    background-size: 100% 500px;
  }

  /* Media query for screens with a maximum width of 640px */
  @media (max-width: 439px) {
    background-size: 100% 712px;
  }
}

.scan-bg-size {
  background-size: 100% 100%;

  @media (max-width: 1023px) {
    background-size: 100% 730px;
  }

  @media (max-width: 768px) {
    background-size: 100% 518px;
  }

  @media (max-width: 439px) {
    background-size: 100% 304px;
  }
}

.z--1 {
  z-index: -1;
}

.custom-col-1 {
  grid-column: span 1;
}

.custom-col-2 {
  grid-column: span 3;
}

.max-width {
  @apply max-w-[1440px] mx-auto;
}

.padding-x {
  @apply sm:px-16 px-6;
}

.padding-y {
  @apply py-4;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.flex-start {
  @apply flex justify-between items-start;
}

.custom-btn {
  @apply flex flex-row relative justify-center items-center py-3 px-6 outline-none;
}

.outlined_btn {
  @apply flex-center bg-transparent text-primary border-2 border-primary hover:text-white hover:bg-primary md:px-[30px] px-[10px] md:py-3 py-[8px] uppercase font-medium md:text-[16px] text-[12px] leading-[16px];
}

.filled_btn {
  @apply bg-transparent text-black border-2 border-black hover:scale-[1.03] md:h-[60px] h-[36px] uppercase font-[400] md:text-[16px] text-[12px] md:leading-[20px] leading-[16px] w-full md:max-w-[255px] max-w-[159px];
}
.white_btn {
  @apply bg-transparent text-white border-2 border-white hover:scale-[1.03] md:h-[60px] h-[36px] uppercase font-[400] md:text-[16px] text-[12px] md:leading-[20px] leading-[16px] w-full md:max-w-[255px];
}

.mint_btn {
  @apply bg-transparent text-mint hover:text-black border-2 border-mint hover:scale-[1.03] md:h-[60px] h-[36px] uppercase font-[400] md:text-[16px] text-[12px] md:leading-[20px] leading-[16px] w-full max-w-[255px];
}
.blue_btn {
  @apply bg-transparent text-[#06D7F9] hover:text-[#fff] border-2 border-[#06D7F9] hover:scale-[1.03] md:h-[60px] h-[36px] uppercase font-[400] md:text-[16px] text-[12px] md:leading-[20px] leading-[16px] w-full max-w-[255px];
}

.filled_btn_white {
  @apply bg-white text-black border-2 border-white hover:scale-[1.03] px-[30px] py-3 uppercase font-helvetica font-medium text-base w-full max-w-[255px];
}

.filled_btn_blue {
  @apply text-[#06D7F9] border-2 border-[#06D7F9] hover:scale-[1.03] px-[30px] md:py-[18px] py-[8px] uppercase font-helvetica font-medium md:text-base text-[12px] md:leading-[20px] leading-[16px] w-full md:max-w-[255px] max-w-[136px];
}

.filled_btn_primary {
  @apply hover:bg-primary text-white border-2 border-primary hover:scale-[1.03] px-[30px] py-3 uppercase font-helvetica font-medium text-base w-full max-w-[255px];
}

.hoverLink:hover {
  /* position: absolute; */
  /* margin-top: -10px; */
  /* margin-left: -10px; */
  /* width: calc(100% + 20px); */
  /* padding: 40px; */
  /* @apply 2xl:max-h-[199px] md:max-h-[220px] max-h-[192px] 2xl:h-[199px] md:h-[220px] h-[192px]; */
  /* animation: linkHover 1s; */
}
.hoverLink.bg-\[\#53D3AA\]:hover::before {
  background-color: #53D3AA;
}
.hoverLink.bg-\[\#06D7F9\]:hover::before {
  background-color: #06D7F9;
}
.hoverLink.bg-\[\#FFFFFF\]:hover::before {
  background-color: #FFFFFF;
}
.hoverLink.bg-\[\#131D2A\]:hover::before {
  background-color: #131D2A;
}
.hoverLink:hover::before {
  /* transition: 1s linear; */
  animation: linkHover 0.5s forwards;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  /* background-color: #f0f0f0; */
  /* transform: scale(1.2); */
  /* transform-origin: top left; */
  z-index: -1;
}

@keyframes linkHover {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.word {
  opacity: 0;
  display: inline-block;
}

.letter {
  font-weight: 800;
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
  @media (min-width:320px) {
    line-height: 34px;
    font-size: 30px;
  }
  @media (min-width:768px) {
    line-height: 44px;
    font-size: 40px;
  }
  @media (min-width:1440px) {
    line-height: 54px;
    font-size: 50px;
  }
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.group-menu-href {
  position: relative;
  z-index: 1;
}

.visible-el {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease, transform 0.5s ease; /* Добавление плавного перехода */
  /* Другие стили, которые вы хотите применить */
}

.pseudo-text-effect {
  position: relative;
  padding: 0;
  overflow: hidden;
  transition: transform 0.5s;
  display: block;
}
.pseudo-text-effect::after {
  content: attr(data-after);
  display: inline-block;
  transform: translateY(100%);
  position: absolute;
  left: 0;
  transition: inherit;
}
.pseudo-text-effect > a {
  display: inline-block;
  transform: translateY(0%);
  transition: inherit;
}
.pseudo-text-effect:hover > a {
  transform: translateY(-100%);
}
.pseudo-text-effect:hover::after {
  transform: translateY(0%);
}

/* rotateText */
.logo-char {
  opacity: 0;
}
.typing-effect {
  display: inline-block;
  white-space: pre;
  overflow: hidden;
}

.typing-char {
  display: inline-block;
  opacity: 0;
  animation: appear 0.5s ease forwards;
}

@keyframes appear {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.btn_animated_black {
  cursor: pointer;
  box-shadow: inset 0 0 0 0 rgb(0, 0, 0);
}

.btn_animated_black:hover {
  color: white;
  box-shadow: inset 400px 50px 0 0 rgb(0, 0, 0);
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.btn_animated_green {
  cursor: pointer;
  box-shadow: inset 0 0 0 0 rgb(83, 211, 170);
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.btn_animated_green:hover {
  box-shadow: inset 400px 50px 0 0 rgb(83, 211, 170);
}

.btn_animated_white {
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #fff;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.btn_animated_white:hover {
  color: #000;
  box-shadow: inset 400px 50px 0 0 #fff;
}
.btn_animated_blue {
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #06D7F9;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.btn_animated_blue:hover {
  box-shadow: inset 400px 50px 0 0 #06D7F9;
}

.blog-img {
  transition: linear 0.3s
}

/* .bg-inneffectiveBg::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #06D7F9;
} */

.running-image {
  animation: run 60s linear infinite;
}

@keyframes run {
  0% {
    background-position: 100vw -1px;
  }
  100% {
    background-position: -100vw -1px;
  }
}